.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--white-color);
}

.header__navbar a {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar--list {
  list-style-type: none;
  padding-left: 0;
}

.header__navbar--item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.header__navbar--item--seperator {
  border-right: 2px solid rgba(255, 255, 255, 0.44);
}
.header__navbar--item--bold {
  font-weight: 700;
}
.header__navbar--social {
  display: inline-flex;
  align-items: center;
}
.social-list {
  display: flex;
  padding-left: 10px;
}

.social-link {
  font-size: 1.3rem;
  margin-right: 8px;
}

.header__navbar__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.header__navbar__link:hover .notification__submenu {
  cursor: pointer;
}
.header__download {
  position: relative;
}

.header__download:hover {
  opacity: 1;
}

.header__download:hover .text {
  opacity: 0.7;
}
.header__download:hover .download_module {
  display: block;
}
.download_module {
  width: 184px;
  padding: 2px;
  position: absolute;
  top: 100%;
  left: 10px;
  background-color: none;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.5s;
}

.wrapper {
  margin-top: 10px;
}

.qr-code img {
  width: 100%;
}

.stores {
  padding: 0 15px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stores div {
  display: inline-block;
  margin-top: 5px;
  width: 70px;
}
.stores div img {
  width: 100%;
}
.header__notification {
  position: relative;
}
.header__navbar--list:hover .notification_module {
  display: flex;
  transform-origin: top right;
  animation: headerNotificationAppear ease-in 0.25s;
  -webkit-animation: headerNotificationAppear ease-in 0.25s;
  -ms-animation: headerNotificationAppear ease-in 0.25s;
  -o-animation: headerNotificationAppear ease-in 0.25s;
  -moz-animation: headerNotificationAppear ease-in 0.25s;
  will-change: opacity, transform;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 50px 0px;
}

@keyframes headerNotificationAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.header__navbar--item > .notification_module {
  width: 402px;
  position: absolute;
  top: 34px;
  right: 10px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.5s;
  border: rgba(0, 0, 0, 0.09) solid 1px;
  margin: 1px;
}

.header__navbar--item > .notification_module::before {
  content: "";
  border: 25px solid transparent;
  border-bottom: 20px solid var(--white-color);
  position: absolute;
  right: 20px;
  top: -40px;
}
.header__navbar--item > .notification_module::after {
  content: "";
  border: 50px solid transparent;
  position: absolute;
  right: -1px;
  top: -50px;
}
.notification_module .upper-wrapper {
  height: 350px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notification_module .upper-wrapper div {
  height: 100px;
}

.notification_module .upper-wrapper img {
  display: block;
  margin: auto;
  height: 100%;
}
.notification_module p {
  padding: 0;
  margin-top: 20px;
}
.notification__submenu {
  background-color: var(--white-color);
  display: flex;
}
.notification__submenu .menu-item {
  flex: 1;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-size: 1.4rem;
}

.notification__submenu .menu-item:hover {
  color: #ff0000;
}
