.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--white-color);
}

.header__navbar a {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar--list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__navbar--item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.header__navbar--item--separator {
  border-right: 2px solid rgba(255, 255, 255, 0.44);
}
.header__navbar--item--bold {
  font-weight: 700;
}
.header__navbar--social {
  display: inline-flex;
  align-items: center;
}
.social-list {
  display: flex;
  padding-left: 10px;
}

.social-link {
  font-size: 1.3rem;
  margin-right: 8px;
}

.header__navbar__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.header__navbar__link:hover .notification__submenu {
  cursor: pointer;
  z-index: 3;
}
.header__download {
  position: relative;
}

.header__download:hover {
  opacity: 1;
}

.header__download:hover .text {
  opacity: 0.7;
}
.header__download:hover .download_module {
  display: block;
}
.download_module {
  width: 184px;
  padding: 2px;
  position: absolute;
  top: 100%;
  left: 10px;
  background-color: none;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.5s;
  z-index: 1;
}

.wrapper {
  margin-top: 10px;
  box-shadow: 0 1px 2px black;
  background-color: var(--white-color);
}

.qr-code img {
  width: 100%;
}

.stores {
  padding: 0 15px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.stores div {
  display: inline-block;
  margin-top: 5px;
  width: 70px;
}
.stores div img {
  width: 100%;
}
.header__notification {
  position: relative;
}
.header__notification:hover .notification_module {
  display: flex;
  transform-origin: top calc(100% -32px);
  animation: appearGrow ease-in 0.25s;
  -webkit-animation: appearGrow ease-in 0.25s;
  -ms-animation: appearGrow ease-in 0.25s;
  -o-animation: appearGrow ease-in 0.25s;
  -moz-animation: appearGrow ease-in 0.25s;
  will-change: opacity, transform;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 50px 0px;
  z-index: 1;
}

.header__navbar--item > .notification_module {
  width: 402px;
  position: absolute;
  top: 34px;
  right: 10px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.5s;
  border: rgba(0, 0, 0, 0.09) solid 1px;
  margin: 1px;
}

.header__navbar--item > .notification_module::before {
  content: "";
  border: 25px solid transparent;
  border-bottom: 20px solid var(--white-color);
  position: absolute;
  right: 20px;
  top: -40px;
}
.header__navbar--item > .notification_module::after {
  content: "";
  border: 50px solid transparent;
  position: absolute;
  right: -1px;
  top: -50px;
}
.notification_module .upper-wrapper {
  height: 350px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notification_module .upper-wrapper div {
  height: 100px;
}

.notification_module .upper-wrapper img {
  display: block;
  margin: auto;
  height: 100%;
}
.notification_module p {
  padding: 0;
  margin-top: 20px;
}
.notification__submenu {
  background-color: var(--white-color);
  display: flex;
}
.notification__submenu .menu-item {
  flex: 1;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-size: 1.4rem;
}

.notification__submenu .menu-item:hover {
  color: #ff0000;
}

/* Authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px 0;
}

.auth-form-heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__input {
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 0px;
}

.auth-form__aside-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  margin-top: 0;
}

.auth-form__legal-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls .btn {
  margin-left: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.auth-form__socials .btn {
  flex-grow: 1;
  flex-basis: 0;
}

.auth-form__socials .icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials--google {
  color: #666;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  display: inline-block;
  text-decoration: none;

  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separator {
  height: 22px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  margin: 0 16px;
}

.auth-form__forgot {
  color: var(--primary-color);
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 150px;
  fill: var(--white-color);
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

/* Cart */
.header__cart {
  width: 150px;
  position: relative;
  text-align: center;
}

.header__cart-wrap {
  display: inline-block;
  padding: 0 12px;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin-top: 6px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.header__cart-notice {
  position: absolute;
  display: inline-block;
  padding: 1px 8px;
  background-color: var(--white-color);
  border-radius: 50%;
  font-size: 1.6rem;
  top: -2px;
  right: 30%;
  z-index: 2;
  border: 2px solid #ee4d2d;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
  /* animation: appearGrow ease 0.5s; */
  transform-origin: calc(100% - 32px) 0;
}
.header__cart-list:after {
  content: "";
  border: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  bottom: 98%;
  right: 32px;
  font: 1.4rem;
}

.header__cart-list {
  position: absolute;
  top: 46px;
  right: 20px;
  background-color: var(--white-color);
  width: 400px;
  box-shadow: 0 0 1px #666;
  border-radius: 2px;
  display: none;
  z-index: 1;
}

.header__cart-list.header__cart-no-cart {
  padding: 60px 0;
}

.header__cart-no-cart .header__cart-no-cart-img {
  display: inline-block;
}

.header__cart-no-cart .header__cart-no-cart-text {
  display: block;
}
.header__cart-no-cart-img {
  width: 100px;
  display: none;
}

.header__cart-no-cart-text {
  font-size: 1.4rem;
  margin-top: 20px;
  display: none;
}

/* Cart item */
.header__cart-heading {
  text-align: left;
  padding-left: 10px;
  line-height: 100%;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  margin-top: 1rem;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 56vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  padding: 10px;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  height: 40px;
  width: 40px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  margin-left: 1rem;
  flex: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.header__cart-item-head {
  display: flex;
  align-items: baseline;
  margin-right: 12px;
}
.header__cart-item-name {
  flex: 1;
  margin: 0;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-cross {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-qnt {
  color: #757575;
  font-size: 1.2rem;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.header__cart-item-description {
  color: #757575;
  font-weight: 300;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-weight: 400;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  background-color: #f05d41;
}
/* search */
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  border-radius: 2px;
  padding: 0 16px;
  position: relative;
}

.header__search-select {
  border-left: 1px solid #000;
  padding-left: 16px;
  height: 28px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  line-height: 100%;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-select-icon {
  font-size: 1rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
}

.header-search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
  width: 60px;
  outline: none;
}

.header-search-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}

.header-search-btn-icon {
  color: var(--white-color);
  font-size: 1.4rem;
}
.header__search-select:hover .header__search-option {
  display: block;
  animation: fadeIn ease-in 0.2s;
}

.header__search-select::before {
  display: block;
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.header__search-option {
  position: absolute;
  top: 100%;
  right: 0;
  list-style-type: none;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  border-radius: 2px;
  overflow: hidden;
  display: none;
  z-index: 1;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px;
  width: 110px;
  display: flex;
  justify-content: space-between;
}
.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 8px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}
/* Search history */

.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(172, 172, 172);
  background-color: var(--white-color);
  display: none;
  overflow: hidden;
  z-index: 1;
}

.header__search-history-title {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.history-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.history-item {
  height: 38px;
  padding: 0 12px;
}
.history-item:hover {
  background-color: #fafafa;
}

.history-item a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
}

/* User */
.header__navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__navbar-img {
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user {
  position: relative;
}

.header__navbar-user-name {
  font-weight: 400;
  margin-left: 4px;
}

.header__navbar-user-menu {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  padding-left: 0;
  z-index: 3;
  list-style: none;
  background-color: var(--white-color);
  width: 120px;
  box-shadow: 0 1px 2px #e0e0e0;
  border-radius: 2px;
  display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
  animation: fadeIn ease-in 0.1s;
}

.header__navbar-user-item a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: 4px 16px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-menu:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid var(--white-color);
  position: absolute;
  top: -13px;
  right: 25px;
}

.header__navbar-user-menu:after {
  content: "";
  height: 10px;
  width: 85%;
  position: absolute;
  top: -10px;
  right: 0;
}
.header__navbar-user-item a:hover {
  background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* Header sort bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  margin: 0;
  display: none;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.header__sort-item {
  flex: 1;
}

.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}

.header__sort-link:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
}
.header__sort-item:first-child .header__sort-link:before {
  border: none;
}
.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}

/* App container */

.app__container {
  background-color: #f5f5f5;
}

.app-content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 16px 16px 0;
  border-bottom: 1x solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style-type: none;
}
.category-item {
  position: relative;
}

.category-item:before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

.category-item:first-child:before {
  border-top: none;
}
.category-item--active .category-item__link {
  color: var(--primary-color);
}
.category-item--active .category-item__link::before {
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-left-color: red;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.category-item__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 6px 16px;
  transition: right linear 0.1s;
  right: 0;
}

.category-item__link:hover {
  color: var(--primary-color);
  right: -4px;
}

/* Home sort + filter */
.home-filter {
  display: flex;
  background-color: rgba(0, 0, 0, 0.04);
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  color: #555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}
.home-filter__page {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-btn i {
  color: #555;
}

.home-filter__page-btn--disabled {
  cursor: default;
  background-color: #f9f9f9;
}

.home-filter__page-btn--disabled i {
  color: #ccc;
}
/* Product item */
.home-product {
  margin-bottom: 10px;
}
.home-product-item {
  display: block;
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  text-decoration: none;
  border-radius: 2px;
}
.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  display: block;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  margin-left: 10px;
  font-size: 1.4rem;
  text-decoration: line-through;
  color: #666;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item__actions {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}
.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin-left: auto;
}

.home-product-item__gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}
.home-product-item__origin {
  font-size: 1.4rem;
  margin: 3px 10px 0;
  display: flex;
  justify-content: space-between;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}
.home-product-item__brand {
}
.home-product-item__origin-name {
}
.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.home-product-item__favourite:before {
  content: "";
  width: 0;
  height: 0;
  border-right: 3px solid currentColor;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  filter: brightness(0.6);
}
.home-product-item__favourite i {
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}

.home-product-item__favourite span {
  color: var(--white-color);
}
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
}
.home-product-item__sale-off:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  border-width: 0 20px 5px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent
    rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 3px;
}

.home-product-item__sale-off-label {
  font-size: 1.3rem;
  color: var(--white-color);
}

/* Pagination */
.home-product__pagination {
  margin-top: 48px;
  margin-bottom: 32px;
}

/* Footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 12px;
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}
.footer-item__link {
  display: flex;
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0 2px;
  align-items: center;
}
.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 80px;
  border: 1px solid var(--border-color);
  margin-right: 16px;
}

.footer__download-app-img {
  height: 20px;
}

.footer__download-apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-app-link {
  color: transparent;
  text-decoration: none;
}

.footer__bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  padding: 12px 0 12px;
  margin: 0;
  font-size: 1.2rem;
}
